ACCOUNTAPI_DATABASE_URL=postgresql://{{ cp_db_app_user }}:{{ cp_db_app_password }}@{{ cp_db_host }}:{{ cp_db_port }}/{{ cp_db_name }}
ACCOUNTAPI_LISTEN={{ cp_accountapi_listen }}
ACCOUNTAPI_PUBLIC_BASE_URL={{ cp_accountapi_public_base_url }}
ACCOUNTAPI_VPN_REMOTE={{ cp_accountapi_vpn_remote }}
ACCOUNTAPI_VPN_REMOTE_ID={{ cp_accountapi_vpn_remote_id }}
ACCOUNTAPI_ORG={{ cp_accountapi_org }}
ACCOUNTAPI_DISPLAY_NAME={{ cp_accountapi_display_name }}
ACCOUNTAPI_JWT_SECRET={{ cp_accountapi_jwt_secret }}
ACCOUNTAPI_TELEGRAM_BOT_TOKEN={{ cp_accountapi_telegram_bot_token }}
ACCOUNTAPI_TWILIO_SID={{ cp_accountapi_twilio_sid }}
ACCOUNTAPI_TWILIO_TOKEN={{ cp_accountapi_twilio_token }}
ACCOUNTAPI_TWILIO_FROM={{ cp_accountapi_twilio_from }}
ACCOUNTAPI_PLATEGA_BASE_URL={{ cp_accountapi_platega_base_url }}
ACCOUNTAPI_PLATEGA_MERCHANT_ID={{ cp_accountapi_platega_merchant_id }}
ACCOUNTAPI_PLATEGA_SECRET={{ cp_accountapi_platega_secret }}
