CONFIGAPI_DATABASE_URL=postgresql://{{ cp_db_app_user }}:{{ cp_db_app_password }}@{{ cp_db_host }}:{{ cp_db_port }}/{{ cp_db_name }}
CONFIGAPI_PLATI_SECRET={{ cp_plati_secret }}
CONFIGAPI_VPN_REMOTE={{ cp_configapi_vpn_remote }}
CONFIGAPI_VPN_REMOTE_ID={{ cp_configapi_vpn_remote_id }}
CONFIGAPI_SERVER_CA_CN={{ cp_configapi_server_ca_cn }}
CONFIGAPI_ORG={{ cp_configapi_org }}
CONFIGAPI_DISPLAY_NAME={{ cp_configapi_display_name }}
CONFIGAPI_ACME_DOMAIN={{ cp_configapi_acme_domain }}
CONFIGAPI_ACME_CACHE=/var/lib/config-api/acme
