CONTROL_DSN=postgresql://{{ cp_db_app_user }}:{{ cp_db_app_password }}@{{ cp_db_host }}:{{ cp_db_port }}/{{ cp_db_name }}
CONTROL_LISTEN={{ cp_control_listen }}
CONTROL_OPERATOR_TOKEN={{ cp_control_operator_token }}
CONTROL_WEBHOOK_SECRET={{ cp_control_webhook_secret }}
CONTROL_DAE_SECRET={{ cp_control_dae_secret }}
CONTROL_DAE_PORT={{ cp_control_dae_port }}
CONTROL_SERVER_ADDR={{ cp_configapi_vpn_remote }}
CONTROL_SERVER_ID={{ cp_configapi_vpn_remote_id }}
CONTROL_DISPLAY_NAME={{ cp_configapi_display_name }}
CONTROL_ORG_NAME={{ cp_configapi_org }}
CONTROL_HEALTH_SECS=30
