ORCH_DATABASE_URL=postgresql://{{ cp_db_app_user }}:{{ cp_db_app_password }}@{{ cp_db_host }}:{{ cp_db_port }}/{{ cp_db_name }}
ORCH_LISTEN={{ cp_orch_listen }}
ORCH_HEALTH_INTERVAL={{ cp_orch_health_interval }}
