BOT_TOKEN={{ bot_token }}
CABINET_URL={{ bot_cabinet_url }}
SUPPORT_URL={{ bot_support_url }}
NOTIFY_SECRET={{ bot_notify_secret }}
NOTIFY_HOST={{ bot_notify_host }}
NOTIFY_PORT={{ bot_notify_port }}
BRAND_NAME={{ bot_brand_name }}
VPN_REMOTE={{ bot_vpn_remote }}
VPN_REMOTE_ID={{ bot_vpn_remote_id }}
