# IKEv2 + EAP-MSCHAPv2 (через eap-radius на control plane). Серверный серт/ключ кладёт
# оркестратор вне репозитория (ключ — под FDE).
connections {
    ikev2-eap {
        version = 2
        pools = client_pool
        send_cert = always
        local {
            auth = pubkey
            certs = {{ ingress_server_cert_path }}
            id = {{ ingress_vpn_id }}
        }
        remote {
            auth = eap-radius
            eap_id = %any
        }
        children {
            net {
                local_ts = 0.0.0.0/0
                esp_proposals = aes256gcm16-prfsha384-ecp384, aes256-sha256-modp2048
            }
        }
        proposals = aes256gcm16-prfsha384-ecp384, aes256-sha256-modp2048
    }
}

pools {
    client_pool {
        addrs = {{ ingress_client_pool }}
        dns = {{ ingress_tun_addr | regex_replace('/.*$','') }}
    }
}
